.custom-card {
  background-color: black;
  color: white;
  border: none;
  transition: all 0.3s ease-in-out;
}

.custom-card .card-body {
  color: white;
}

.custom-card .card-title {
  color: white;
}

.custom-card .card-text {
  color: white;
}

.custom-card .btn-primary {
  background-color: black;
  color: white;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
}

.custom-card .btn-primary:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 0 15px 5px rgba(146, 7, 201, 0.5);
  border: 2px solid #ff00ff;
}
