.row-cols-1 {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 45%;
  margin: 10px;
}
.custom-card {
  max-width: 45rem;
  background-color: #212529;
  color: #fff
}

button {
  background-color: #141416;
  color: white;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-radius: 10px;
}

.game-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 25px rgb(144, 135, 219);
}
