<header class="header bg-dark">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-center align-items-center flex-grow-1">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Pixel_art_Wizard_Portrait.png" alt="Logo" class="mr-3" style="height: 100px;">
      <div class="text-center">
        <h1 class="mb-0">Quest'pedia ✰</h1>
        <p class="mb-0">Explore seu jogo favorito</p>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg p-0 ml-auto">
      <ul class="navbar-nav">
        <!-- Link para abrir o modal de login -->
        <li class="nav-item">
          <a class="nav-link p-0" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
        </li>
        <li class="nav-item"><a class="nav-link p-0" href="#">Sobre</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- Modal de Login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Referência ao componente de formulário de login -->
        <app-formulario></app-formulario>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
