<div class="container text-center">
  <h2>O que é a Quest'pedia?</h2>
  <p>
      A <strong>Quest'pedia</strong> é uma enciclopédia digital dedicada a reunir e explorar as ricas narrativas, 
      personagens e objetos que compõem os universos dos jogos. De RPGs clássicos a FPS, de histórias envolventes 
      a diversões rápidas, a Quest'pedia é o seu ponto de partida para mergulhar ainda mais fundo — como diria o mago Davy Jones.
  </p>
  <p>
      Criada por alunos do <strong>IFRN - Campus Parnamirim</strong>, a Quest'pedia é um projeto feito por entusiastas, para entusiastas. 
      Mais do que apenas catalogar informações, buscamos oferecer uma experiência envolvente, com análises detalhadas, conexões entre elementos 
      das histórias e até curiosidades que podem passar despercebidas pelos jogadores.
  </p>
</div>
